@font-face {
    font-family: GinoraSans;
    src: url(../typos/GinoraSansRegular.otf);
}

body {
    margin: 0;
    font-family: "GinoraSans";
    width: 100%;
}


.container {
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
}

.container-fluid  {
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
}


/*
CSS ALEX 
*/
.nosoffres{
background-color: #f0f0f0;
padding-left: 0px; padding-right: 0px;
height: 500px;

}

.titre{ 
    color: #ff3232;
    padding-left:0px; 
    padding-right: 0px;
}


.titre2{
    color: #ff3232;
    text-align: center;
    transform: skewX(45deg);
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 9px;
}

.border{
    border: 2px solid #ff3232;
    transform: skewX(-45deg);
    background-color: white;
    position: relative;
    top:-55px;
    width: 100px;
}

body > div.container-fluid.nosoffres > div:nth-child(3){
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
}

body > div.container-fluid.nosoffres > div:nth-child(3) > div:nth-child(3){
    left: 296px;
    position: absolute;
}

body > div.container-fluid.nosoffres > div:nth-child(3) > div:nth-child(2){
    left: 162px;
    position: absolute;
}

body > div.container-fluid.nosoffres > div:nth-child(3) > div:nth-child(1){
    left: 27px;
    position: absolute;
}

text{
    border: 2px solid #ff3232;
    background-color: #f0f0f0;
    opacity: 0.9;
    top: 61px;
    z-index: 2;
} 


#toffres{
    border-bottom: 2px solid #ff3232
}

.ligne{
    border-color: #ff3232;
}

body > div.container-fluid.nosoffres > div:nth-child(3) > article > p{
    border: 2px solid #ff3232;

}

/*Ici burger*/

header{
	width:100%; 
	background:#ff3232; 
	height:60px; 
	line-height:60px;
	border-bottom:1px solid #dddddd;
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:white;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:black;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#ff3232;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#f0f0f0; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:white;}
.menu a:hover{text-decoration:none; color:#ff3232;}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}
header{display:inline-block; font-size:12px;}
span{padding-left:20px;}
a{color:#336699;}
